<h1>Please, select the greatest station for us</h1>

<%= link_to 'Turn on Soma.fm groovesalad station (downtempo, ambient)', somafm_groovesalad_path %><br/>
<%= link_to 'Turn on FriskyRadio (progressive, minimal)', frisky_path %><br/>
<%= link_to 'Turn on Ah.fm (trance)', ah_path %>
